# cmake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
google_benchmark-prefix/
google_test-prefix/
fp_benchmark
fp_test
Makefile
safe_numerics-prefix

# doxygen
/doc/html

# perf
perf.data*

# Clion
/.idea
